nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FA3946;
    height: 52px;
}

.navlogo,
.navlinks {
    top: 0;
    display: flex;
    justify-content: space-between;
}

.navlogo {
    float: left;
}

.logo {
    font-size: 2em;
    margin: 10px 16px;
}

.logoText {
    font-size: 1.5em;
    margin: 10px 16px;
    top: 0;
}

.navlinks {
    float: right;
}

.link {
    margin: 15.5px 16px;
    color: inherit;
    text-decoration: inherit;
}

.link:hover {
    text-decoration: underline;
}