@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --color-primery: #7289da;
    --color-dark: #232323;
    --color-darker: #121212;
  }
  html,
  body {
    @apply scroll-smooth dark:bg-dark dark:text-white;
  }
  a {
    @apply text-blue-500 hover:cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-white dark:bg-dark;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primery;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto w-4xl max-w-[85%];
  }

  .section {
    @apply mx-auto scroll-mt-5 py-12;
  }

  .section-header {
    @apply text-center text-4xl font-semibold;
  }

  .sub-section-header {
    @apply text-center text-3xl font-medium;
  }

  .sanityText {
    @apply px-4 py-2;
  }

  .sanityText h1 {
    @apply text-4xl font-bold;
  }
  .sanityText h2 {
    @apply text-3xl font-semibold;
  }
  .sanityText h3 {
    @apply text-2xl font-medium;
  }
}

.active {
  @apply text-primery;
}
